html {
  width: 800px;
  margin: 0%;
  padding: 0%;
}

.section1 {
  margin-top: 0%;
  display: flex;
margin: 0%;
}


.section1 .logo {
  display: flex;
  margin-top: 0%;
  
}

.Bur {
  display: flex;
  font-size: 110%;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}
.Bur2 {
  color: #F6B400;
}

.ul {
  float: right;
}

shine {
  display: flex;
  margin-top: 0%;
  justify-content: space-evenly;
  margin-right: 10%;
  margin-bottom: 4%;

}

.img {
  margin-left: 0%;
  background-color: #F6B400;


}

.shine1 {
  margin-left: 0%;

}
.shine1 img {
margin-left: 30%;
}
.shine1  button {
  background-color: yellow;
